<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/circle-announcement.css"/>
<body>
<header class="com-header">
    <a><img src="../../images/fanhui.png" alt=""/></a>
    <span>聊天室</span>
    <div>
        <img src="../../images/star.png" alt=""/>
        <img src="../../images/star.png" alt=""/>
    </div>
</header>
<section id="chat-room-container">

</section>
</body>
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../scripts/circle-details.js"></script>
</html>