<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/photo-edit.css"/>
<!--<link rel="stylesheet" href="../../bower_components/weui/dist/style/weui.min.css"/>-->
<body>
<header id="photo-edit-header">
    <span>取消</span>
    <span>编辑图片</span>
    <span>确定</span>
</header>
<section id="photo-edit-container">
    <div class="gap"></div>
    <ul>
        <li>
            <div>
                <img src="" alt=""/>
                <span></span>
            </div>
        </li>
        <li>
            <div>
                <img src="" alt=""/>
                <span></span>
            </div>
        </li>
    </ul>
    <span>点击更换图片，可删除和替换，共8张</span>
</section>

</body>
<!--<script src="../../bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script src="../../scripts/create-circle.js"></script>-->
</html>