<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
</head>
<link rel="stylesheet" href="../../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/circle-announcement.css"/>
<body>
<header class="com-header">
    <a>取消</a>
    <span>编辑圈介绍</span>
    <a>完成</a>
</header>
<section id="circle-announcement-container">
    <div class="gap"></div>
    <div id="circle-announcement-card">
        <textarea name="" id="circle-announcement" placeholder="在此处编辑圈介绍" autofocus="autofocus"></textarea>
        <button id="clear-all-words-btn"><img src="../../../images/clear-all-words.png" alt="clearAll"/></button>
    </div>

</section>
</body>
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../scripts/circle-details.js"></script>
</html>

