<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/provoke/provoke.css"/>
<link rel="stylesheet" href="../../styles/reset.css"/>
<body>
<header id="new-circle-header">
    <div class="header-cancel"><img class="enter-notice-back-icon" src="../../images/fanhui.png" alt="back"/></div>
    <div class="enter-circle-notice-nav"><span>入圈通知</span></div>
</header>
<section id="new-circle-container">
    <div class="gap"></div>
    <ul>
        <li class="container-list">
            <div  class="list-left">
                <div class="header-icon"><img class="header-icon" src="../../images/header_icon.jpg" alt="头像"/></div>
            </div>
            <div class="list-middle">
                <span class="middle-top">甜心菜</span><br/>
                <span class="middle-bottom">申请加入 环境国际旅游旅行社</span>
            </div>
            <div class='enter-notice-right'>
                <button class="enter-notice-agree">同意</button>
                <button class="enter-notice-reject">拒绝</button>
            </div>
        </li>
        <li class="container-list">
            <div  class="list-left">
                <img class="header-icon" src="../../images/header_icon.jpg" alt="头像"/>
            </div>
            <div class="list-middle">
                <span class="middle-top">亲戚旅游团</span><br/>
                <span class="middle-bottom">申请加入 旅行社</span>
            </div>
            <div class='enter-notice-right'>
                <button class="enter-notice-agree">同意</button>
                <button class="enter-notice-reject">拒绝</button>
            </div>
        </li>
        <li class="container-list">
            <div  class="list-left">
                <img class="header-icon" src="../../images/header_icon.jpg" alt="头像"/>
                <!--<img class="msg-icon" src="../../images/msg.png" alt="消息通知图标"/>-->
            </div>
            <div class="list-middle">
                <span class="middle-top">旅游团</span><br/>
                <span class="middle-bottom">申请加入 旅行社</span>
            </div>
            <div class='enter-notice-right'>
                <button class="enter-notice-agree">同意</button>
                <button class="enter-notice-reject">拒绝</button>
            </div>
        </li>
    </ul>
</section>
</body>
</html>