<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/provoke/provoke.css"/>
<link rel="stylesheet" href="../../styles/reset.css"/>
<body>
    <header id="new-circle-header">
        <span class="header-cancel">取消</span>
        <span class="header-create-circle">创建圈子</span>
    </header>
    <section id="new-circle-container">
        <div class="gap"></div>
        <ul>
            <li class="container-list">
                <div  class="list-left">
                    <div class="header-icon header-message"><img src="../../images/bell.png" alt="bell"/></div>
                    <img class="msg-icon" src="../../images/msg.png" alt="消息通知图标"/>
                </div>
                <div class="list-middle">
                    <span class="middle-top">入圈通知</span><br/>
                    <span class="middle-bottom">马可波罗申请入圈</span>
                </div>
                <span class='list-right'>09:02</span>
            </li>
            <li class="container-list">
                <div  class="list-left">
                    <img class="header-icon" src="../../images/header_icon.jpg" alt="头像"/>
                    <img class="msg-icon" src="../../images/msg.png" alt="消息通知图标"/>
                </div>
                <div class="list-middle">
                    <span class="middle-top">亲戚旅游团</span><br/>
                    <span class="middle-bottom">情操菇凉：你们过来集合啊！</span>
                </div>
                <span class='list-right'>09:02</span>
            </li>
            <li class="container-list">
                <div  class="list-left">
                    <img class="header-icon" src="../../images/header_icon.jpg" alt="头像"/>
                    <!--<img class="msg-icon" src="../../images/msg.png" alt="消息通知图标"/>-->
                </div>
                <div class="list-middle">
                    <span class="middle-top">旅游团</span><br/>
                    <span class="middle-bottom">情操：晚上出去HI啊！</span>
                </div>
                <span class='list-right'>昨 天</span>
            </li>
        </ul>
    </section>
    <footer id="new-circle-footer">
        <div class="footer-menu-item">
            <img class="footer-icon" src="../../images/shouye.png" alt="首页"/>
            <span>首页</span>
        </div>
        <div class="footer-menu-item">
            <img class="footer-icon" src="../../images/liusanjie.png" alt="印象刘三姐"/>
            <span>印象刘三姐</span>
        </div>
        <div class="footer-menu-item">
            <img class="footer-icon-plus" src="../../images/liao.png" alt="撩"/>
            <span>撩</span>
        </div>
        <div class="footer-menu-item">
            <img class="footer-icon" src="../../images/xianlu.png" alt="旅游线路"/>
            <span>旅游线路</span>
        </div>
        <div class="footer-menu-item">
            <img class="footer-icon" src="../../images/gerenzhongxin.png" alt="个人中心"/>
            <span>个人中心</span>
        </div>

    </footer>
</body>
</html>
