<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/provoke/provoke.css"/>
<link rel="stylesheet" href="../../styles/reset.css"/>
<body>
<header id="new-circle-header">
    <div class="header-cancel"><img class="enter-notice-back-icon" src="../../images/fanhui.png" alt="back"/></div>
    <div class="enter-circle-notice-nav"><span>查看资料</span></div>
</header>
<section id="new-circle-container">
    <div class="gap"></div>
    <div class="information-container-list">
        <div><span>头像</span></div>
        <div><img src="../../images/header_icon.jpg" alt="头像"/></div>
    </div>

    <ul>
        <li class="information-list"><span>昵称：</span><span class="information-right-text">火焰果实</span></li>
        <li class="information-list"><span>性别：</span><span class="information-right-text">男</span></li>
        <li class="information-list"><span>城市：</span><span class="information-right-text">湖北—武汉</span></li>
        <li class="information-list"><span>生日：</span><span class="information-right-text">1988/01/01</span></li>
    </ul>

</section>
</body>
</html>