<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/reset.css"/>
<link rel="stylesheet" href="../../styles/personal-center/my-circle.css"/>
<body>
    <header class="com-header">
        <a href=""><img src="../../images/fanhui.png" alt=""/></a>
        <span>我的圈子</span>
        <a>新建圈</a>
    </header>
    <section id="my-circle-container">
        <div class="gap"></div>
        <ul>
            <span class="circle-title">我建的圈</span>
            <li>
                <div class="my-contr-circle-left">
                    <div class="circle-pic">
                        <img src="../../images/header_icon.jpg" alt=""/>
                    </div>
                    <div class="circle-info">
                        <span class="my-contr-circle-name">阳朔西街圈</span><br/>
                        <span  class="my-contr-circle-number">圈号：12895</span>
                    </div>
                </div>
                <button class="my-contr-circle-right">进圈</button>
            </li>
            <li>
                <div class="my-contr-circle-left">
                    <div class="circle-pic">
                        <img src="../../images/header_icon.jpg" alt=""/>
                    </div>
                    <div class="circle-info">
                        <span class="my-contr-circle-name">阳朔西街圈</span><br/>
                        <span  class="my-contr-circle-number">圈号：12895</span>
                    </div>
                </div>
                <button class="my-contr-circle-right">进圈</button>
            </li>
            <li>
                <div class="my-contr-circle-left">
                    <div class="circle-pic">
                        <img src="../../images/header_icon.jpg" alt=""/>
                    </div>
                    <div class="circle-info">
                        <span class="my-contr-circle-name">阳朔西街圈</span><br/>
                        <span  class="my-contr-circle-number">圈号：12895</span>
                    </div>
                </div>
                <button class="my-contr-circle-right">进圈</button>
            </li>
        </ul>

        <ul>
            <span  class="circle-title">我加入的圈</span>
            <li>
                <div class="my-contr-circle-left">
                    <div class="circle-pic">
                        <img src="../../images/header_icon.jpg" alt=""/>
                    </div>
                    <div class="circle-info">
                        <span class="my-contr-circle-name">阳朔西街圈</span><br/>
                        <span  class="my-contr-circle-number">圈号：12895</span>
                    </div>
                </div>
                <button class="my-contr-circle-right">进圈</button>
            </li>
            <li>
                <div class="my-contr-circle-left">
                    <div class="circle-pic">
                        <img src="../../images/header_icon.jpg" alt=""/>
                    </div>
                    <div class="circle-info">
                        <span class="my-contr-circle-name">阳朔西街圈</span><br/>
                        <span  class="my-contr-circle-number">圈号：12895</span>
                    </div>
                </div>
                <button class="my-contr-circle-right">进圈</button>
            </li>
            <li>
                <div class="my-contr-circle-left">
                    <div class="circle-pic">
                        <img src="../../images/header_icon.jpg" alt=""/>
                    </div>
                    <div class="circle-info">
                        <span class="my-contr-circle-name">阳朔西街圈</span><br/>
                        <span  class="my-contr-circle-number">圈号：12895</span>
                    </div>
                </div>
                <button class="my-contr-circle-right">进圈</button>
            </li>
        </ul>
    </section>
</body>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="../../../scripts/circle-details.js"></script>-->
</html>