<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/reset.css"/>
<link rel="stylesheet" href="../../styles/personal-center/personal-center.css"/>
<body>
<header class="com-header">
    <a href=""><img src="../../images/fanhui.png" alt=""/></a>
    <span></span>
    <a></a>
</header>
<section id="personal-center-container">
    <div class="gap"></div>
    <div id="personal-center-header">
        <div>
            <img src="../../images/header_icon.jpg" alt=""/>
        </div>
        <span>Ginger Kong</span>
    </div>

    <ul  id="personal-center-body">
        <li>
            <div class="personal-center-left">
                <!--<div class="circle-pic">-->
                    <img src="../../images/star.png" alt=""/>
                <!--</div>-->
                <!--<div class="circle-info">-->
                    <span  class="personal-center-menu">我的资料</span>
                <!--</div>-->
            </div>
            <img class="personal-center-right" src="../../images/right-back@2x.png"/>
        </li>
        <li>
            <div class="personal-center-left">
                <!--<div class="circle-pic">-->
                <img src="../../images/star.png" alt=""/>
                <!--</div>-->
                <!--<div class="circle-info">-->
                <span  class="personal-center-menu">我的收藏</span>
                <!--</div>-->
            </div>
            <img class="personal-center-right" src="../../images/right-back@2x.png"/>
        </li>
        <li id="divider">
            <div class="personal-center-left">
                <!--<div class="circle-pic">-->
                <img src="../../images/star.png" alt=""/>
                <!--</div>-->
                <!--<div class="circle-info">-->
                <span  class="personal-center-menu">我的游记</span>
                <!--</div>-->
            </div>
            <img class="personal-center-right" src="../../images/right-back@2x.png"/>
        </li>
        <li>
            <div class="personal-center-left">
                <!--<div class="circle-pic">-->
                <img src="../../images/star.png" alt=""/>
                <!--</div>-->
                <!--<div class="circle-info">-->
                <span  class="personal-center-menu">通讯录</span>
                <!--</div>-->
            </div>
            <img class="personal-center-right" src="../../images/right-back@2x.png"/>
        </li>
        <li>
            <div class="personal-center-left">
                <!--<div class="circle-pic">-->
                <img src="../../images/star.png" alt=""/>
                <!--</div>-->
                <!--<div class="circle-info">-->
                <span  class="personal-center-menu">我的订单</span>
                <!--</div>-->
            </div>
            <img class="personal-center-right" src="../../images/right-back@2x.png"/>
        </li>
        <li>
            <div class="personal-center-left">
                <!--<div class="circle-pic">-->
                <img src="../../images/star.png" alt=""/>
                <!--</div>-->
                <!--<div class="circle-info">-->
                <span  class="personal-center-menu">我的优惠卷</span>
                <!--</div>-->
            </div>
            <img class="personal-center-right" src="../../images/right-back@2x.png"/>
        </li>
    </ul>
</section>
</body>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!--<script src="../../../scripts/circle-details.js"></script>-->
</html>