#personal-center-container{
  height: 100%;
  #personal-center-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    div{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 12px;
    }
  }
  #personal-center-body{
    padding: 0 12px;
    #divider{
      margin-bottom: 50px;
    }
    li{
      border-bottom: 1px solid #CCCCCC;
      height: 44px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .personal-center-left{
//        border-bottom: 1px solid #999999;
        img{
          position: relative;
          top: 3px;
          width: 19px;
          height: 19px;
          margin-right: 12px;
        }
        span{
          display: inline-block;
          height: 44px;
          line-height: 44px;
          color: #999999;
        }
      }
      .personal-center-right{
        width: 8px;
        height: 14px;
      }
    }
  }
}
