<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/circle-album.css"/>
<body>
<form action="">
    <header class="com-header">
        <a href=""><img src="../../../images/fanhui.png" alt=""/></a>
        <span>圈相册</span>
        <button disabled>发布</button>
    </header>
    <section id="circle-album-container">
        <div class="gap"></div>
        <div id="circle-album-bg">
            <div id="circle-album-name">
                <span>环境国际旅行社</span><br/>
                <span>30人</span>
            </div>
        </div>
        <div class="albums">
                      <!--portrait:头像url地址  username：用户昵称   albun_text:圈正文  album_pic:圈图片url字符串 用逗号隔开    timestamp：时间戳（毫秒数）-->
            <div class="album" data-album='{"portrait":"../../../images/header_icon.jpg",
                    "username":"陈大厨",
                    "album_text":"竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化，竟然会感觉好的话估计还会堵得慌故意的故意广东省。渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计，还会堵得慌故意的故意广东省渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化。",
                    "album_pic":"../../../images/test/abc1.jpg,../../../images/test/abc2.jpg",
                    "timestamp":"1484480526000"}'>
            </div>
            <div class="album" data-album='{"portrait":"../../../images/header_icon.jpg",
                    "username":"大厨",
                    "album_text":"竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化，竟然会感觉好的话估计还会堵得慌故意的故意广东省。渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计，还会堵得慌故意的故意广东省渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化。",
                    "album_pic":"../../../images/test/abc1.jpg,../../../images/test/abc3.jpg,../../../images/test/abc4.jpg,../../../images/test/abc2.jpg,../../../images/test/abc3.jpg",
                    "timestamp":"1484480526000"}'>
            </div>
            <div class="album" data-album='{"portrait":"../../../images/header_icon.jpg",
                    "username":"大厨",
                    "album_text":"竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化，竟然会感觉好的话估计还会堵得慌故意的故意广东省。渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计，还会堵得慌故意的故意广东省渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化。",
                    "album_pic":"../../../images/test/abc1.jpg",
                    "timestamp":"1484480526000"}'>
            </div>
            <div class="album" data-album='{"portrait":"../../../images/header_icon.jpg",
                    "username":"大厨",
                    "album_text":"竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化，竟然会感觉好的话估计还会堵得慌故意的故意广东省。渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计，还会堵得慌故意的故意广东省渔夫阅读更适合等速油耗故意的格式化竟然会感觉好的话估计还会堵得慌故意的，故意广东省渔夫阅读更适合等速油耗故意的格式化。",
                    "album_pic":"../../../images/test/abc1.jpg",
                    "timestamp":"1484480526000"}'>
            </div>
        </div>

    </section>
</form>
</body>
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../scripts/circle-details.js"></script>
</html>