<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/release-album.css"/>
<body>
<form action="">
    <header class="com-header">
        <a href=""><img src="../../../images/fanhui.png" alt=""/></a>
        <button type="submit" disabled>发布</button>
    </header>
    <section id="release-album-container">
        <div class="gap"></div>
        <textarea name="" id="album-article" placeholder="分享行程好风景..."></textarea>
        <div id="pre-upload-imgs">
            <div class="upload-img-box">
                <input style="display:none" type="file"/>
                <img src="../../../images/close-icon-img.png"/>
            </div>
            <div id="upload-icon">
                <span id="upload-text">添加照片</span>
            </div>
        </div>
    </section>
</form>
</body>
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../scripts/circle-details.js"></script>
</html>