<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/reset.css"/>
<link rel="stylesheet" href="../../styles/create-circle/create-circle.css"/>
<!--<link rel="stylesheet" href="../../bower_components/weui/dist/style/weui.min.css"/>-->
<body>
<header id="create-circle-header">
    <span class="create-circle-header-cancel">取消</span>
    <span class="create-circle-header-makesure">确定</span>
</header>
<section id="create-circle-container">
    <div class="gap"></div>
    <div class="create-circle-title">选择圈分类</div>
    <div class="create-circle-subtitle">选择1~3个类别，确定后无法更改</div>
    <div class="circle-classify-details">
        <ul id="classify-details-ul">
            <li class="circle-classify-details-list">
                <span class="classify-details-item">团队</span>
                <span class="classify-details-item">文化</span>
                <span class="classify-details-item">感情</span>
                <span class="classify-details-item">人文</span>
            </li>
            <li class="circle-classify-details-list">
                <span class="classify-details-item">情怀</span>
                <span class="classify-details-item">牛人</span>
                <span class="classify-details-item">大咖</span>
                <span class="classify-details-item">达人</span>
            </li>
            <li class="circle-classify-details-list">
                <span class="classify-details-item">摄影</span>
                <span class="classify-details-item">运动</span>
                <span class="classify-details-item">时尚</span>
                <span class="classify-details-item">户外</span>
            </li>
            <li class="circle-classify-details-list">
                <span class="classify-details-item">科技</span>
                <span class="classify-details-item">娱乐</span>
                <span class="classify-details-item">金融</span>
                <span class="classify-details-item">国际</span>
            </li>
            <li class="circle-classify-details-list">
                <span class="classify-details-item">熟人</span>
                <span class="classify-details-item">社交</span>
                <span class="classify-details-item">个性</span>
                <span class="classify-details-item">校园</span>
            </li>
        </ul>
    </div>
</section>

</body>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../scripts/create-circle.js"></script>
</html>