<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../styles/reset.css"/>
<link rel="stylesheet" href="../../styles/create-circle/create-circle.css"/>
<!--<link rel="stylesheet" href="../../bower_components/weui/dist/style/weui.min.css"/>-->
<body>
<header id="create-circle-header">
    <span class="create-circle-header-cancel">取消</span>
    <span class="create-circle-header-addgroupway">选择加群方式</span>
    <span class="create-circle-header-makesure">确定</span>
</header>
<section id="enter-group-container">
    <div class="gap"></div>
    <div class="enter-grouper-confirm">
        <span>需要群主确认</span>
        <img src="../../images/compete.png" />
    </div>
    <form class="enter-group-form">
        <div class="enter-group-need-password">
            <span>需要输入加群密码</span>
            <img src="../../images/compete.png" />
        </div>
        <div class="enter-group-password">
            <span>密码：</span>
            <input autofocus="true" type="password"/>
        </div>
    </form>
</section>

</body>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../scripts/create-circle.js"></script>
</html>
