<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/add-manager.css"/>
<body>
<form action="">
    <header class="com-header">
        <a href="">取消</a>
        <span>删除成员</span>
        <button disabled>删除</button>
    </header>
    <section id="delete-member-container">
        <div class="gap"></div>
        <div  id="current-manager">管理员</div>
        <ul id="current-manager-list">
            <li>
                <div class="current-manager-list-left">
                    <a href=""><img src="../../../images/header_icon.jpg"/></a>
                    <span>Queen</span>
                </div>
                <button type="submit">撤销权限</button>
            </li>
            <li>
                <div class="current-manager-list-left">
                    <a href=""><img src="../../../images/header_icon.jpg"/></a>
                    <span>Queen</span>
                </div>
                <button type="submit">撤销权限</button>
            </li>
        </ul>
        <div id="current-member">圈成员</div>
        <ul id="delete-member-list">
            <li>
                <div class="pretend-checkbox-none"></div>
                <input id="id1" type="checkbox" />
                <a href=""><img src="../../../images/header_icon.jpg"/></a>
                <label for="id1">Queen</label>
            </li>
            <li>
                <div class="pretend-checkbox-none"></div>
                <input id="id2" type="checkbox"/>
                <a href=""><img src="../../../images/header_icon.jpg"/></a>
                <label for="id2">西游降魔</label>
            </li>
            <li>
                <div class="pretend-checkbox-none"></div>
                <input id="id3" type="checkbox"/>
                <a href=""><img src="../../../images/header_icon.jpg"/></a>
                <label for="id3">大白兔奶糖</label>
            </li>
        </ul>
    </section>
</form>
</body>
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../scripts/circle-details.js"></script>
</html>

