<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/circle-member-edit.css"/>
<!--<link rel="stylesheet" href="../../bower_components/weui/dist/style/weui.min.css"/>-->
<body>
<header class="com-header">
    <img src="../../../images/fanhui.png" alt=""/>
    <span>圈成员管理</span>
    <span>&nbsp;</span>
</header>
<section id="circle-member-edit-container">
    <div class="gap"></div>
    <div  class="circler-manager">
        <div class="circler-manager-text">圈主、管理员（3人）</div>
        <ul>
            <li>
                <span id="circler">群主</span>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">collMo</div>
            </li>
            <li>
                <span>管理员</span>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">天马星空的我</div>
            </li>
            <li>
                <span>管理员</span>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li class="add-manager add-del-common"></li>
            <li class="del-manager add-del-common"></li>
        </ul>
    </div>

    <div  class="circler-manager">
        <div class="circler-manager-text">圈成员（7人）</div>
        <ul>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">collMo</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">天马星空的我</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li class="del-manager add-del-common"></li>
        </ul>
    </div>

    <div  class="circler-manager">
        <div class="circler-manager-text">今日新入圈成员（7人）</div>
        <ul>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">collMo</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">天马星空的我</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <li>
                <img src="../../../images/header_icon.jpg" alt=""/>
                <div class="nickname">大哥</div>
            </li>
            <!--<li class="add-manager">+</li>-->
            <!--<li class="del-manager">-</li>-->
        </ul>
    </div>


</section>

</body>
<!--<script src="../../bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script src="../../scripts/create-circle.js"></script>-->
</html>
