<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="../../../styles/reset.css"/>
<link rel="stylesheet" href="../../../styles/circle-all-details/change-circle-name.css"/>
<body>
<form id="change-circle-name-form" action="">
    <header class="com-header">
        <a>取消</a>
        <span>修改圈名称</span>
        <button type="submit">确定</button>
    </header>
    <section id="change-circle-name-container">
        <div class="gap"></div>
        <div class="new-circle-name">
            <span>圈名称：</span>
            <input placehodler="请输入圈名称，控制在10个字以内" type="text"/>
        </div>
        <span class="circle-name-info">圈名称请使用文明字符，否则视为无效</span>
    </section>
</form>
</body>
</html>
