/*
circle-member-edit-header page stylesheets
*/
$header-line-color:#cccccc;
$header-background:#f7f7f7;
$content-line-color:#e0e0e0;
$content-background:#f2f2f2;
$header-height:38px;
$list-height-a:70px;
$list-height-b:44px;
$yellow:#fe8d00;

#circle-member-edit-container{
  height: 100%;
  background: $content-background;
  .gap{
    height: $header-height;
  }
  .circler-manager{
    background: #ffffff;
    margin-top: 10px;
      box-sizing: border-box;
      padding:0 0 0 12px;
      .circler-manager-text{
          height: 34px ;
          line-height: 34px;
          font-size: 14px ;
          color: #808080;
          padding-bottom: 10px;
      }
      ul{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          li{
              position: relative;
              display: inline-block;
              width: 50px;
                margin-right: 12px;
              #circler{
                  background: #55d2f8;
              }
              img{
                  border-radius: 5px;
              }
              span{
                  display: block;
                  width: 38px;
                  text-align: center;
                  height: 18px;
                  line-height: 18px;
                  border-radius: 2px;
                  background: #6cd9a3;
                  position: absolute;
                  font-size: 2px;
                  color: #ffffff;
                  top: -6px;
                  left: 6px;
              }
              .nickname{
                  font-size: 12px;
                  color: #333333;
                  display:block;
                  white-space:nowrap;
                  overflow:hidden;
                  text-overflow:ellipsis;
                  text-align: center;
                  padding-bottom: 15px;
              }
          }
      }
    .add-del-common{
        width: 48px;
        height: 48px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #CCCCCC;
        &:before{
            content: '';
            position: absolute;
            top: 22px;
            left: 9px;
            width: 30px;
            height: 2px;
            background: #CCCCCC;
        }
    }
    .add-manager:after{
        content: '';
        position: absolute;
        top: 9px;
        left: 23px;
        width: 2px;
        height: 30px;
        background: #CCCCCC;
    }
  }
}
